*{
	box-sizing: border-box;
}
header {
	background-color:seagreen;
	text-align:center;
	font-size:72px;
	color:white;
	font-family:"Helvetica";
	padding:0px;
	height:76px;
	font-weight: bold;
}
nav {
	background-color:mediumseagreen;
	text-align:center;
	color:white;
	font-family:"Helvetica";
	height:60px;
	font-size:48px;
	padding:0px;
	float: top;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
body {
	background-color:white;
	color:black;
	font-size:36px;
	text-align:center;
	font-family:"Trebuchet MS";
}
p {
	background-color:white;
	color:black;
	font-size:36px;
	text-align:center;
	font-family:"Trebuchet MS";
}
aside {
	float: left;
	padding
	background-color:grey;
	text-align:center;
	color:black;
	font-family:"Helvetica";
	height:100px;
	padding:0px;
}
h3 {
	font-size: 72px;
}
