header {
	background-color:seagreen;
	text-align:center;
	font-size:48px;
	color:white;
	font-family:"Trebuchet MS";
	height:96px;
}
nav {
	background-color:mediumseagreen;
	text-align:center;
	color:white;
	font-family:"Trebuchet MS";
	height:48px;
	font-size:24px;
body {
	background-color:white;
	color:black;
	font-size:36px;
	text-align:center;
	font-family:"Trebuchet MS";
}
p {
	background-color:white;
	color:black;
	font-size:36px;
	text-align:center;
	font-family:"Trebuchet MS";
}
